@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  justify-content: center;
  margin: 0;
}

h1 {
    letter-spacing: 3px;
}
  
.poke-container {
    align-items: space-between;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
  }

.pokemon {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
}
.poke-container .pokemon {
    position: relative;
    max-width : 300px;
    height : 150px;  
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
  .poke-container .pokemon:hover {
    height : 220px;    
  }
  
  .poke-container .pokemon .img-container {
    position : relative;
    width : 130px;
    height : 130px;
    top : -40%;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
  }

  .pokemon .img-container {
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 50%;
    height: 120px;
    text-align: center;
    justify-content: center;
  }

  .pokemon .img-container img {
    margin-top: 20px;
    max-width: 90%;
  }

  /* Pokemon animation */

  .pokemon .info {
    margin-top: 70px;
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
  }

  .poke-container .pokemon:hover .info {
    margin-top : 70px;
    visibility : visible;
    opacity : 1;
    transition-delay: 0.3s;
   
 }

 /* Poemon Info decoration */


 .pokemon .info {
    margin-top: 20px;
  }
  
  .pokemon .info .number {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 0.8em;
    padding: 5px 10px;
  }
  
  .pokemon .info .name {
    letter-spacing: 1px;
    margin: 15px 0 7px;
  }
  
  .types {
    display: flex;
    width: 100%;
  }
  
  .main-type,
  .sub-type {
    flex: 1;
    padding: 2px 4px;
    border-radius: 3px;
    font-weight: bold;
  }
  
  .main-type {
    background-color: rgba(0, 0, 0, 0.15);
  }
  
  .sub-type {
    margin-left: 5px;
  }
  